@use '../../..//styles/shared/\ _colors.scss' as *;

.header-container {
  background: linear-gradient(135deg, $color-bg-dark, $color-bg-darker);
  padding: 20px 40px;
  border-bottom: 1px solid $color-border;
  text-align: center;
}

.header-container h1 {
  color: $color-primary;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.5px;
  text-shadow: 0px 1px 2px $color-text-shadow;
}

.header-container h1:hover {
  color: $color-hover-primary;
  transition: color 0.3s ease-in-out;
}
